/* ======================================================== */
/* 	Author: Ondrej Hejda                                	*/
/*	Date 	12.4.2013                                      	*/
/* ======================================================== */


body {
	margin-left: auto;
    margin-right: auto;
	margin-top: 0;
    width: 800px;
	font-family: Verdana, Arial, sans-serif;
    font-size: .8em;
}

p {
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0px;
}

/**** Table ****/

table{
	font-size:25px;
	border-collapse: collapse;
	margin: 10px 25px
}

th, td{
	text-align: center;
	border: none;
	padding: 15px 3px 15px 3px;
}

td:nth-of-type(5)
{
	width: 20%;
}
td:nth-of-type(10)
{
	width: 20%;
}
td:nth-of-type(15)
{
	width: 20%;
}

tr{
	background-color: #FFFFFF;
}

tr:nth-of-type(odd){
	background-color: #F3F3F3;
}

/**** Content ***/

section {
	width: 800px;
	float: left;
}

article {
	display: block;
	display: inline;
}